{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row my-5">
        <div class="col-md-3">
            <div class="card" style="width: auto;">

                <img src="{{profile.profile_image.url}}"
                    class="m-4 thumbnail border border-info border-4 rounded-circle" alt="{{profile.user.username}}" />
                <div class="card-body text-center">
                    <h5 class="text-center">{{profile.user.username|title}}</h5>
                    <p class="card-text ">{{profile.short_intro}}</p>
                    <p class="card-text "><small><i class="bi bi-geo-alt-fill"
                                style="font-size:18px;color:rgb(0, 74, 83);"></i> </small> {{profile.location}}</p>
                    <div> <span>
                            <small><i class="bi bi-github" style="font-size:24px;color:rgb(0, 74, 83);"></i></small>
                            <small> <i class="bi bi-linkedin" style="font-size:24px;color:rgb(0, 74, 83);"></i></small>
                            <small><i class="bi bi-browser-firefox" style="font-size:24px;color:rgb(0, 74, 83);"></i>
                            </small>
                            <small><i class="bi bi-twitter" style="font-size:24px;color:rgb(0, 74, 83);"></i>
                            </small>
                            <small><i class="bi bi-stack-overflow" style="font-size:24px;color:rgb(0, 74, 83);"></i>
                            </small>
                        </span></div>
                    <button type="button" class="btn btn-secondary m-2 text-light"> Send Message</button>
                </div>

            </div>
        </div>
        <div class="col-md-7">
            <div>
                <h3>ABOUT ME</h3>
                <p>{{profile.bio}}</p>
            </div>
            <div>
                <h3>SKILLS</h3>
                <p>
                    {% for each in skills %}
                    <small class="text-light p-2 bg-secondary border-3 rounded-3">{{each.name}}</small>
                    {% endfor %}
                </p>
            </div>
            <div>
                <h4>Projects</h4>
                <div class="row">

                    {% for each in profile.project_set.all %}
                    <div class="col-md-4 my-4">
                        <div class="card h-100">
                            <img src="{{each.featured_image.url}}" class="card-img-top"
                                alt="Skyscrapers" />
                            <div class="card-body">
                                <h5 class="card-title"> <a class="text-decoration-none"
                                        href="{% url 'project_detail' each.id %}">
                                        {{each.title}} </a> </h5>
                                <p class="card-text">
                                   {{each.description|slice:"30"}}
                                </p>
                                <span>
                                    {{each.ratio}}% Positive Feedback Ration {% if each.vote_total %}
                                    {{each.vote_total}}
                                    Vote{{each.vote_total|pluralize:"s"}} {% endif %}
                                </span>
                            </div>
                            <div class="">
                                {% if each.tags %}
                                {% for tag in each.tags.all %}
                                <span class="bg-success my-2 mx-2 rounded ">
                                    <small class="text-light p-2">{{tag}}</small>
                                </span>
                                {% endfor %}
                                {% endif%}

                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}