{% extends 'base.html' %}


{% block content %}
<div class="container-fluid bg-dark text-light">
    <div class="row ">
        <div class="col-md-8 m-auto p-4 m-4">
            <h3 class="text-center">Connect with <strong> Developers </strong> </h3>
            <h3 class="text-center">From Around the world</h3>
            <div class="input-group m-4 p-2">
                <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
                    aria-describedby="search-addon" />
                <button type="button" class="btn btn-outline-light">search</button>
            </div>
        </div>
    </div>
</div>
<div class="container">
   
    <div class="row my-4">
        {% if profiles %}
        {% for each in profiles %}
        <div class="col-md-3">
            <div class="card mb-3">
                <div class="row g-0">
                  <div class="col-md-4">
                    <img
                      src="{{ each.profile_image.url }}"
                      alt="{{each.user.username}}"
                      class="img-fluid rounded-circle m-2 border border-success border-2"
                    />
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">{{each.user.username|title}}</h5>
                      <p class="card-text">
                        This is a wider card with supporting text below as a natural lead-in to
                        additional content. This content is a little bit longer.
                      </p>
                      <p class="card-text">
                        <small class="text-muted">Last updated 3 mins ago</small>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}