{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row">
        <h4 class="text-center">Create an Account</h4>
        <div class="col-md-8 m-auto">
            <form action="" method="POST">
                {% csrf_token%}
                {{registration_form| crispy}}
            {% for error in field.errors %}
            {{error }}
            {% endfor %}
                <input type="submit" class="btn btn-primary" value="signup">
            </form>
        </div>
    </div>
</div>
{% endblock %}